.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.02), 0 1px 4px rgba(0, 0, 0, 0.14);
  padding: 10px 50px 14px;
  background-color: white;
}

/* Header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 140px;
  background-image: url("./assets/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 20px;
  margin-top: 56px;
  margin-bottom: 56px;
}

/* Results */
.result {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 28px;
}

.total,
.views {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: space-around;
  gap: 4px;
}

.total {
  align-items: center;
}

/* Slider and Switch */
.slider-container {
  margin-bottom: 42px;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-bottom: 36px;
}

.switch-container p {
  font-size: 12px;
  color: var(--grayish-blue);
  font-weight: 700;
}

.discount {
  font-size: 8px;
  position: absolute;
  background-color: var(--light-grayish-red);
  padding: 2px 4px;
  margin-left: 6px;
  margin-top: 2px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.03);
  color: var(--light-red);
  font-weight: 800;
}

/* HR */
.horizontal-line {
  border: none;
  height: 1px;
  width: 122%;
  background-color: var(--light-grayish-blue);
  margin: 0 0;
}

/* Card Footer */
.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 14px;
}

.features-list {
  list-style-image: url("./assets/icon-check.svg");
}
