.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  background-color: #242424;
  color: white;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
