.custom-slider {
  width: 100%;
  height: 8px;
  background: var(--light-grayish-blue);
  opacity: 0.8;
  outline: none;
  transition: opacity 0.4s;
  appearance: none;
  border-radius: 5px;
}

.custom-slider:hover {
  opacity: 1;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 34px;
  height: 34px;
  background: var(--strong-cyan);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 14px 32px var(--strong-cyan);
  background-image: url("../assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
