body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

/* Modal */
#myModal {
    display: none;
}

#openModalBtn {
    background-color: #008cba;
    color: white;
    margin-bottom: 20px;
}

#openModalBtn:hover {
    background-color: #005f5f;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 30px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Modal Buttons */
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#yesBtn, #noBtn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#yesBtn {
    background-color: #4CAF50;
    color: white;
}

#yesBtn:hover {
    background-color: #45a049;
}

#noBtn {
    background-color: #f44336;
    color: white;
}

#noBtn:hover {
    background-color: #e53935;
}

/* Input */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    width: 150px; 
    box-sizing: border-box; 
}

/* Input Modal */
.name-modal {
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    max-width: 400px;
    min-width: 100px;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #888;
}

.name-close-btn:hover {
    color: #555;
}

#nameInput {
    display: flex; 
    margin: 0 auto; 
}