@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap");

:root {
  font-family: "Manrope", sans-serif;
  font-size: 16px; /* Dimensione probabile per il testo della citazione */
  line-height: 1.5;
  font-weight: 800;

  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
