#searchInput, #genreSelect {
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #333;
    color: white;
}

#genreSelect {
    background-color: #444; 
}

#genreSelect option {
    background-color: #333; 
    color: white;
}