@import url("./buttons.css");
@import url("./movie-cards.css");
@import url("./filters.css");
@import url("./divs.css");

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #000000 0%, #202020 100%);
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageNumber {
    font-size: 1.2em;
    margin: 0 10px;
}